.underline {
	text-decoration: underline;
}

.list-none {
	list-style-type:none;
}

.pre {
	white-space: pre-wrap;
	word-break: break-all;
}

p {
	display: inline;
}

p.first {
    font-size: 100%;
}

.wy-table-responsive {
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 100%;
    overflow: auto;
}



.example-code {
	background-color: #BDBDBD;
}

@media screen and (min-width: 700px) {
	.table-width-fix tbody td:last-child {
		white-space: normal !important;
	}

	.table-width-fix-first tbody td:first-child {
		white-space: normal !important;
	}
}

.table-width-full {
  width : 100%;
}

.text-align-justify {
	text-align: justify;
}
